@import '@/scss/typography/typography';
@import '@/scss/variables/variables';
@import '@/scss/functions/functions';
@import '@/scss/mixins/mixins';
@import '@/scss/utilities/utilities';

html {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  & body {
    position: absolute;

    overflow: hidden;
    width: 100%;
    height: 100%;

    background-color: mapget($colors, 'primary');
  }
  #app {
    background-repeat: no-repeat !important;
    position: absolute;

    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      190deg,
      mapget($colors, 'primary') 53%,
      mapget($colors, 'secondary')
    );
  }
}
